button {
  padding-top:20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: $snow;
  border-radius: 80px;
  border:1px solid $granite-gray;
  color: $granite-gray;
  text-decoration: none;
  font-size: $large;
  font-family: $raleway;
  font-weight: $bold;
  text-align: center;
  width: 450px;
}
